<table style="width: 100%; border: 1px solid black;">
    <tr>
        <th>ID</th>
        <th>Imagen</th>
        <th>Producto</th>
        <th>Descripción</th>
        <th>Color</th>
        <th>Talla</th>
        <th>Unidades</th>
        <th>Precio</th>
    </tr>
    <tr *ngFor="let articulo of listaArticulos">
        <td>{{articulo.id}}</td>
        <td>{{articulo.imagen}}</td>
        <td>{{articulo.nombre}}</td>
        <td>{{articulo.descripcion}}</td>
        <td>{{articulo.color}}</td>
        <td>{{articulo.talla}}</td>
        <td><!--Aquí va un botón para aumentar y decrementar unidades--></td>
        <td *ngIf="articulo.rebajado">{{articulo.precioRebajado}}</td>
        <td *ngIf="!articulo.rebajado">{{articulo.precioOriginal}}</td>
    </tr>
</table>
